* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw
}

body {
    overflow-x: hidden;
    width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2.5px;
    margin: 7px 0 10px;
    padding: .7rem 1rem;
}

label {
    display: block;
    font-family: Ubuntu-Regular;
    text-align: left;
    font-size: .9rem;
}

button {
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 7px 5px;
    padding: .8rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 300ms;
}

button:hover {
    margin: 2px 5px 12px;
}

.invisible {
    display: none!important;
}

.transparent {
    color: inherit;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: inherit;
}

.transparent:hover {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.main-header {
    display: flex;
    padding: 1rem 2rem;
}

.main-header-brand {
    text-align: center;
}

.main-header-item {
    min-width: 2rem;
    min-height: 2rem;
    text-align: center;
}

.main-menu {
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    color: white
}

.menu-item {
    font-size: 3vh;
    padding: 1rem;
    margin: 0;
    transition: all 300ms;
    cursor: pointer;
    text-align: center;
}

.menu-item:hover {
    padding: 2rem 1rem;
    margin: 2rem 0;
    transform: scale(1.3);
}

.menu-item:active {
    transform: scale(10);
}

#modal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    z-index: 0;
}

.modal {
    background-color: rgb(60, 60, 60);
    color: white;
    border-radius: 10px;
    width: 350px;
    padding: 1rem;
    min-height: 350px;
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1.5rem;
    border-bottom: 2px solid rgba(50, 50, 50, 0.4);
}

.modal-icon {
    cursor: pointer;
}

.modal-body {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 1rem;
}

.welcome-image {
    display: flex;
    align-items: center;
    width: 70%;
    padding: 1rem;
}

.welcome-image img {
    width: 100%;
}

.welcome-img {
    filter: grayscale(0.8);
}

.modal-content {
    padding: 1rem 0;
}

.modal-text {
    line-height: 1.4rem;
    padding: .5rem 0;
}

.modal-buttons {
    display: flex;
    width: 100%;
}

.modal-button {
    width: 100%;
}

main {
    margin: 1rem auto;
    max-width: 1440px;
}

.options {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    order: 0;
}

.option {
    display: flex;
    height: 10rem;
    margin: 1rem .5rem .5rem;
    min-width: 310px;
    width: calc(50% - 1rem);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}

.option:hover .option-mask {
    margin-left: -2%;
}

.option:hover .option-face {
    margin-right: -98%;
}

.option-mask,
.option-face {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 200ms;
    cursor: pointer;
}

.option-mask {
    padding: 2rem 3rem;
    margin-left: -98%;
}

.option-face {
    padding: 2rem;
    margin-right: -2%;
}

.mask-icon {
    font-size: 3rem;
    padding-right: 1rem;
}

.option-desc {
    width: 100%;
}

.content-head {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.head-image {
    padding: 2rem;
    height: 50vh;
    max-width: 40vw;
    min-width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-image img {
    height: 80%;
    animation: rotateVirus 3s linear 0s infinite;
}

.head-text {
    display: flex;
    width: 60vh;
    min-width: 300px;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
}

.head-title-xl {
    font-size: 6vh;
    line-height: 10vh;
}

.head-title-l {
    font-size: 3.5vh;
    line-height: 6vh;
}

.head-text-l {
    font-size: 2vh;
    line-height: 3vh;
}


/* Animações */

@keyframes rotateVirus {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}